@model SoftServeCinema.Core.DTOs.Genres.GenreWithMoviesDTO

@{
    ViewData["Title"] = "Жанр: " + Model.Name;
}

<style>

    body {
        margin-bottom: 60px;
        background-color: #050505;
        color: #F8F9FA;
    }
</style>

<div class="container-fluid movie-container black-bmw">
    <h3 class="text-center my-4">Фільми жанру @Model.Name </h3>

    <div class="row">
        @if (Model.Movies.Count() == 0)
        {
            <h5>Не знайдено</h5>
        }
        <div class="row justify-content-start">
            @foreach (var movie in Model.Movies)
            {
                <div class="col-6 col-md-3 mb-4">
                    <div class="card-container">
                        <div class="card">
                            <img class="card-img-top" src="@Url.Content("~/images/" + movie.ImagePath)" alt="@movie.Title">
                            <div class="card-overlay">
                                <p class="card-text">
                                    <span>Жанр: @(string.Join(", ", movie.Genres.Select(g => g.Name)))</span><br />
                                    <span>Тег: @(string.Join(", ", movie.Tags.Select(t => t.Name)))</span><br />
                                    <span>Режисер: @(string.Join(", ", movie.Directors.Select(d => d.Name)))</span><br />
                                    <span>Прокат: З @movie.StartRentalDate.ToShortDateString() до @movie.EndRentalDate.ToShortDateString()</span>
                                    <br />
                                    <a class="btn btn-danger" asp-route-id="@movie.Id" asp-controller="Movie" asp-action="Details">Детальніше</a>
                                </p>
                            </div>

                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>


