@model SoftServeCinema.Core.DTOs.Sessions.SessionDetailsDTO

@{
    ViewData["Title"] = "Сеанс";
}

<div>
    <h3 class="text-center my-4">Сеанс</h3>

    <div class="list-group my-4">
        <div class="col-2 justify-content-between">
            <h2>@Model.MovieTitle</h2>
            <img class="w-25 m-auto" src="@Url.Content("~/images/" + Model.MovieImagePath)" alt="@Model.MovieTitle">
            <p>Дата сеансу: @Model.StartDate.ToString("d MMMM yyyy 'р.' HH:mm")</p><br>
            <p>Звичайний квиток: @Model.BasicPrice грн.</p><br>
            
            <p>VIP квиток: @Model.VipPrice грн.</p><br>
            <div class="ticket__container">
                @foreach(var ticket in Model.Tickets)
                {
                    <button data-price="@(ticket.RowNumber == 6 ? @Model.VipPrice : @Model.BasicPrice)" data-id="@ticket.Id" data-row="@ticket.RowNumber" data-seat="@ticket.SeatNumber" value=" " class="ticket__seat @(ticket.RowNumber == 6 ? "ticket__seat-vip" : "ticket__seat-basic") @(ticket.Status =="Available" ? "ticket__seat-available" : "ticket__seat-unavailable")"></button>
                }
            </div>
        </div>
        <div class="ticket__order"></div>
        <form action="/Tag/CreateNatalochka" method="get" class="row g-3 text-center">
                <input type="hidden" name="tickets" value="5" id="ticketsJSON" />
                <input type="submit" value="buy"/>
            </form>

    </div>
</div>
