@model SoftServeCinema.Core.DTOs.Tickets.TicketDTO

@{
    ViewData["Title"] = "Квиток: " + Model.Id;
}

<div>
    <h3 class="text-center my-4">Квиток</h3>

    <div class="list-group my-4">
        <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">ID: @Model.Id</h5>
            @* <h5 class="mb-1">Фільм: @Model.Session.Movie.Title</h5>
            <h5 class="mb-1">Дата: @Model.Session.StartDate</h5> *@
            <h5 class="mb-1">Дата бронювання: @Model.ReservationDate</h5>
            <h5 class="mb-1">Ряд @Model.RowNumber</h5>
            <h5 class="mb-1">Місце @Model.SeatNumber</h5>
        </div>
    </div>
</div>
