@model IEnumerable<SoftServeCinema.Core.DTOs.Tickets.TicketDetailDTO>

@{
    ViewData["Title"] = "Зарезервовані Квитки";
    ViewData["PaginatorAction"] = "Reserved";
}

<div>
    <h3 class="text-center my-4">Зарезервовані Квитки</h3>

    @await Html.PartialAsync("_Paginator", Model)
    <div class="list-group my-4">
        @if (!Model.Any()){
            <h3 class="text-center">Немає зарезервованих квитків</h3>

        }
        else
        {
            <form action="/Checkout/CheckoutOrder" method="post" class="row g-3 text-center">
                @foreach (var ticket in Model)
                {

                    <div class="d-flex w-100 justify-content-between">
                        <input type="hidden" name="ticketIds[]" value="@ticket.Id" />
                        <h5 class="mb-1">Час бронювання квитка @((int)(15 - ((DateTime.UtcNow) - ticket.ReservationDate).TotalMinutes)) хвилин</h5>
                        <h5 class="mb-1">Ряд @ticket.RowNumber</h5>
                        <h5 class="mb-1">Місце @ticket.SeatNumber</h5>
                        <img class="w-25 m-auto" src="@Url.Content("~/images/" + ticket.Session.MovieImagePath)" alt="@ticket.Session.MovieTitle">
                        <h5>@ticket.Session.MovieTitle</h5>
                        <h5>@ticket.Session.StartDate.ToShortDateString()</h5>
                        <h5>@ticket.Session.StartDate.ToShortTimeString()</h5>
                        <h5>@(ticket.RowNumber == 6 ? ticket.Session.VipPrice : ticket.Session.BasicPrice)</h5>
                        <a asp-action="Cancel" asp-route-id="@ticket.Id" class="btn btn-danger">
                            <i class="bi bi-trash-fill"></i> Відхилити резервацію
                        </a>

                    </div> 

                }
                <input type="submit" value="buy" class="btn btn-primary mt-3" />
            </form>
        }


        
    </div>
</div>
<script src="https://js.stripe.com/v3/"></script>
<script src="js/checkout.js"></script>
@await Html.PartialAsync("_Paginator", Model)
